*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
/*
body {
  padding-top: 80px; /* Ajusta esto al tamaño real del navbar 
}
*/


.container{
  width: 100vw;
  min-height: 100vh;
  background: #ced8ff;
  transition: 0.5s;
}

.container.dark{
  background: #222;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}